<div>
    <input type="text" class="form-control" #myInputTitle placeholder="Title..." [(ngModel)]="title" >
    <input type="text" class="form-control" #myInputText placeholder="Text..." [(ngModel)]="text">

    <button class="btn" (click)="addPost()">Add post!</button>
    <button class="btn" (click)="onLoadDefault()">Default style</button>
    
    <hr/>
    <h2>Search posts!</h2>
    <input 
        type="text" 
        class="form-control" 
        placeholder="Search..." 
        (keyup)="onChangeSearch(titleSearching)" 
        [(ngModel)]="titleSearching"
    >

    <button class="btn" (click)="onChangeFilter('title')">Filter title</button>
    <button class="btn" (click)="onChangeFilter('text')">Filter text</button>
</div>